.checkout-nav-bg{
    background-color:white;
    padding:3%;
    border-bottom: 1px solid rgba(18,18,18,.15);

}

.nav-checkout{
    color:rgba(18,18,18,.5);
}
.logo-sec-nav{
    height:auto;
    width:120px;
    max-height:200px;
}
