   <!-- navbar -->
   <nav class="navbar  navbar-expand-lg  navbar-light checkout-nav-bg">
    <a routerLink="">
    
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="navbar-nav ml-auto">
       <li class="nav-item">
         <a class="nav-link secondfont-txt dark-txt text-capitalize" routerLink="">home</a>
       </li>
     </ul>
   </div>
 </nav>     
<!--//navbar-->