<!--footer-->
<div [ngStyle]="{'background-color': BrendSetting.theme_colour.main_colour}">
  <div class="row  py-5">
    <div class="col-sm-4 text-center">
      <div class="img-footer-wrap" id="about-us">
        <img src="{{ BrendSetting.logo }}" alt="logo" class="footer-logo img-responsive mb-auto ">
        <span class="company-name near-black">{{BrendSetting.title}}</span>
        <p class="mt-2 about-foorter near-black" >{{ BrendSetting.our_story }}</p>
      </div>
    </div>

    <div class="col-sm-2 offset-sm-1">
      <div class="footer-wrap-sec near-black">
        <h4 class="footer-title secondfont-txt ">Our Category</h4>

        <div class="list-footer-wrap">
          <ul class="list">
            <li *ngFor="let category of categories | slice:0:4;"><a
                (click)="setCategoryId(category)">{{ category.name }}</a> </li>
          </ul>
        </div>

      </div>
    </div>
    <!--   <div class="col-sm-2">
      <div class="footer-wrap-sec">
        <h4 class="footer-title secondfont-txt light-txt">quick links</h4>

        <div class="list-footer-wrap">
          <ul class="list">
            <li><a >Most viewed</a> </li>
            <li><a >Most viewed</a> </li>
          </ul>
        </div>

      </div>
    </div>
   -->
    <div class="col-sm-2">
      <div class="footer-wrap-sec">
        <h3 class="footer-title secondfont-txt near-black">follow us</h3>
        <ul class="list sc-menu ">
          <li><a href="{{BrendSetting.social_links.facebook}}" target="_blank" class="near-black"><i
                class="fab fa-facebook-f"></i></a></li>
          <li><a href="{{BrendSetting.social_links.instagram}}" target="_blank" class="near-black"><i
                class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="footer-wrap-sec near-black">
        <h4 class="footer-title secondfont-txt">need help</h4>
        <ul class="list">
          <li><i class="fas fa-envelope-open icon-footer"></i>{{BrendSetting.email}}</li>
          <li><a class="near-black" href="tel:+2 00000000">
              <i class="fas fa-phone-alt icon-footer"></i> Call us : {{BrendSetting.phone}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--footer-->
  <!--bottom part-->
  <div class="row bg-light-style no-gutters justify-content-center">
    <p class="dark-txt text-center my-2 cpy-right near-black">© 2020 {{BrendSetting.title}}.<a class="near-black"
        href="https://giraffecode.com/">Developed and
        maintained by Giraffe Code</a>.</p>
  </div>
  <!--//bottom part-->