/*footer*/

.footer-title{

    line-height: 1em;
    font-family:secondfont,sans-serif;
  
    font-weight: 300;
    text-transform: capitalize;
  }
.list li a i.fab{
      font-size:20px;
  }
  .sc-menu{
   display:flex;
   text-align: center;
  }
  .sc-menu li{
    margin-left:0.8rem;
  }
.list{
    list-style: none;
    margin: 0 0 2em 0;
    padding: 0;
    }
.list li a {
     
      font-weight: 600;
      font-size: .9em;
      text-transform:capitalize;
      font-family: secondfont,sans-serif;
      padding: .3em 0;
      display: block;
    
    
    }
  
    .footer-title{
      margin-bottom:2rem
    }
    .icon-footer{
      padding-right:0.5rem
    }
    .footer-logo{
      height:auto;
      width:auto;
      max-width:150px;
      max-height:80px;
    }
   .cpy-right{
     font-size:14px;
     font-weight:500;
   }
   .cpy-right a{
    color:#7d8a91;
   }
   .company-name{
     font-size:25px;
     margin-left:1rem
   }

/*//footer*/
@media (max-width: 575.98px) { 
  .footer-wrap-sec{
    text-align: center;
  }
  .sc-menu{
    width:100%;
    width:100%;
    justify-content: center;
  }
}