<!--check out content-->
<div class="row wrap-m justify-content-center">
  <!--check out procedures-->
  <div class="col-sm-6">
    <!--accordion checkout steps-->
    <div class="accordion" id="accordioncheckout_process">
      <div class="step-sec-wrap">
        <!--title of ship det if not complete form-->
        <div class="row pb-5 mb-5 border-b-checkout-pg">
          <h3 class="ship-det-title secondfont-txt heavy-dark-txt">1. shipping details</h3>
        </div>
        <!--//title of ship det if not complete form-->
        <!--title of ship det after complete form-->
        <div class="row justify-content-between">
          <p class="ship-det-title secondfont-txt heavy-dark-txt"> <i class="fas mr-2 fa-check"></i>shipping details
          </p>
          <a aria-controls="collapseOne" data-toggle="collapse" data-target="#collapseOne"> <span
              class="edit-order-checkout dark-gray-txt font-14">Edit</span> </a>
        </div>
        <div class="pb-5 mb-5 border-b-checkout-pg">
          <div class="row">
            <div class="ship-details-det text-capitalize">
              <p class="mb-0 ">{{ order.name }}</p>
              <p class="mb-0">{{order.email}}</p>
              <p class="mb-0">{{order.phone}}</p>
              <p class="mb-0">{{order.city}}</p>
              <p class="mb-0">{{order.region}}</p>
              <p class="mb-0">{{order.address}}</p>
            </div>
          </div>
        </div>
        <!--//title of ship det after complete form-->
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
          data-parent="#accordioncheckout_process">
          <div>
            <!--shipping det form-->
            <form #f="ngForm">

              <div class="form-group ">
                <label for="firstname-checkout">Name</label>
                <input type="text" name="name" required [(ngModel)]="order.name" class="form-control"
                  id="firstname-checkout">
              </div>

              <div class="form-group">
                <label for="email-checkoutpg">Email</label>
                <input type="email" email name="email" required [(ngModel)]="order.email" [value]="user.email"
                  class="form-control" id="email-checkoutpg">
              </div>

              <div class="form-group ">
                <label for="lastname-checkout">Phone</label>
                <input type="text" ngModel name="phone" [(ngModel)]="order.phone" class="form-control"
                  id="lastname-checkout" required>
              </div>

              <div class="form-group ">
                <label for="inputCity-checkout">City</label>
                <input type="text" required name="city" [(ngModel)]="order.city" class="form-control"
                  id="inputCity-checkout">
              </div>

              <!-- <div class="form-group">
                <label for="inputAddress-checkout">region</label>
                <input type="text" required name="region" [(ngModel)]="order.region" class="form-control"
                  id="inputAddress-checkout">
              </div> -->

              <div class="form-group">
                <label for="inputAddress-checkout">Address</label>
                <input type="text" required name="address" [(ngModel)]="order.address" class="form-control"
                  id="inputAddress-checkout">
              </div>



              <div id="headingOne">
                <button type="submit" [disabled]="!f.form.valid" class="btn btn-main" data-toggle="collapse"
                  data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"
                  [ngStyle]="{'background-color': BrendSetting.theme_colour.sub_colour}">Continue</button>
              </div>
            </form>
          </div>
        </div>

      </div>
      <!--//shipping det form-->

      <!--delivery method-->
      <div class="step-sec-wrap">
        <!--title if step not completd-->
        <div class="row pb-5 mb-5 border-b-checkout-pg">
          <h3 class="ship-det-title secondfont-txt heavy-dark-txt">2. Delivery Method</h3>
        </div>
        <!--//title if step not completd-->
        <!--title if completd-->
        <div class="row  justify-content-between">
          <p class="ship-det-title secondfont-txt heavy-dark-txt"> <i class="fas mr-2 fa-check"></i>Delivery Method </p>
          <a aria-controls="collapseTwo" data-toggle="collapse" data-target="#collapseTwo"> <span
              class="edit-order-checkout dark-gray-txt font-14">Edit</span> </a>
        </div>
        <div class="row pb-5 mb-5 border-b-checkout-pg">
          <div class="ship-details-det">
            <p class=""> City: {{order.city}}</p>
            <p class=""> Delivery Fees: {{order.delivery_fees}}</p>
          </div>
        </div>
        <!--//title if completd-->
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordioncheckout_process">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group ">
                <label for="inputState">city</label>
                <select id="inputState" class="form-control" (change)="setDeliveryFees($event)">
                  <option disabled selected>Choose...</option>
                  <option *ngFor="let city of cities" [value]="city.price">{{city.city}}</option>
                  <!-- <option>cairo</option>
                          <option>alex</option> -->
                </select>
              </div>
            </div>
          </div>

          <div id="headingTwo">
            <button type="submit" class="btn btn-main collapsed" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="false" aria-controls="collapseThree"
              [ngStyle]="{'background-color': BrendSetting.theme_colour.sub_colour}">Continue</button>
          </div>
        </div>
      </div>

      <!--//delivery method-->
      <!--payment step-->
      <div class="step-sec-wrap">
        <div class="row justify-content-between pb-5 mb-5 border-b-checkout-pg">
          <h3 class="ship-det-title secondfont-txt heavy-dark-txt">3. review & place order</h3>
          <button type="submit" class="btn btn-main collapsed " data-toggle="collapse" data-target="#collapseThree"
          aria-expanded="false" aria-controls="collapseThree"
          [ngStyle]="{'background-color': BrendSetting.theme_colour.sub_colour}">Continue</button>
        </div>

        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
          data-parent="#accordioncheckout_process">


          <div class="row">
            <div class="col-sm-12">
              <div class="alert alert-success" role="alert">
                <i class="fas fa-lock"></i> Your payment and personal details are encrypted and secure.
              </div>
            </div>
          </div>
          <div class="row ">
            <div class="col-sm-12">
              <div class="alert py-4 bg-light-cart-summary" role="alert">
                Cash will be made on delivery.
              </div>
            </div>
          </div>
          <div class="row">
            <p class="cart-view-pro-name">
              Please review the order details above, and when you're ready, click Place Order.

              Place Order

            </p>
          </div>
          <div id="headingThree">
            <button type="submit" (click)="CreateOrder()" class="btn btn-main "
              [ngStyle]="{'background-color': BrendSetting.theme_colour.sub_colour}">
              place order
            </button>
            <ngx-spinner name="orderSpinner"></ngx-spinner>
          </div>
        </div>
      </div>
      <!--//payment step-->

    </div>
    <!--//accordion checkout steps-->
  </div>

  <!--//check out procedures-->
  <!--cart summary-->
  <div class="col-sm-3 bg-checkout-pg-cart-summary l-margin bg-light-cart-summary">


    <div class="ordersummary-checkout-wrap border-b-checkout-pg">
      <div class="row mb-4 justify-content-between">
        <span class=" cart-view-title">order summary</span>
        <a routerLink="/cart"> <span class="edit-order-checkout dark-gray-txt font-14">Edit</span> </a>
      </div>

      <div class="row font-14 my-4 justify-content-between" *ngFor="let item of cart">
          <div class="col-sm-3"><img src="{{item.image}}" alt="" class="img-responsive checkoutpg-cart-detail-img"></div>
        <div class="col-sm-6"><span class=" mr-auto">{{item.name}}
          <p class="mb-0 ">qty:{{item.quantity}}</p>
        </span></div>
        <div class="col-sm-3"><span class="text-uppercase price-under-img-chout font-14">{{item.price * item.quantity}} egp</span></div>
        
      
      </div>
    
    </div>

    <!--promo code-->
    <div class="row border-b-checkout-pg">
      <p class="py-4 ">
        <a class="promo-code  dark-gray-txt" data-toggle="collapse" href="#collapsepromo-checkout" role="button"
          aria-expanded="false" aria-controls="collapsepromo-checkout">
          <i class="fas mr-2 fa-tag "></i>enter promo code
        </a>
      </p>
      <div class="collapse" id="collapsepromo-checkout">

        <form class="form-inline" (ngSubmit)="CheckPromoCode(promocode)" #promocode="ngForm">
          <div class="form-group  mb-2">
            <input type="text" class="form-control" id="inputpromocode-checkoutpg" placeholder="Enter Promo Code"
              name="promocode" ngModel required>
          </div>
          <button type="submit" class="btn btn-border mb-2">Apply</button>
          <ngx-spinner name="promocodeSpinner"></ngx-spinner>
        </form>

      </div>
    </div>
    <!--//promo code-->
    <!--receipt-->
    <div class="row pt-4 font-14 justify-content-between">
      <span>Subtotal</span>
      <span>{{order.subtotal}}</span>
    </div>
    <div class="row font-14 justify-content-between">
      <span>Shipping</span>
      <span>{{order.delivery_fees}}</span>
    </div>
    <div class="row font-14 justify-content-between">
      <span>Promo Code</span>
      <span>{{order.promocodeValue}}</span>
    </div>
    <div class="row cart-view-title justify-content-between">
      <span>total</span>
      <span>{{+order.delivery_fees + order.subtotal - order.promocodeValue}}</span>
    </div>
    <!--//receipt-->
  </div>
  <!--//cart summary-->


</div>
<!--//check out content-->