input.ng-invalid.ng-touched{
    border: 1px solid red;
}

/*checkout pg*/

.bg-checkout-pg-cart-summary{
    
    font-family:secontfont,sans-serif;
    text-transform:capitalize;
    padding:2%;
}
/*.ordersummary-checkout-wrap{
  
    height:160px;
    padding:0px 10px;
    
    
}*/
.border-b-checkout-pg{
    border-bottom: 1px solid rgba(18,18,18,.15);
}


.edit-order-checkout{
    text-decoration:underline;
    cursor: pointer;  
}
.checkoutpg-cart-detail-img{
    max-height:65px;
    max-width:65px;
    width:auto;
    height:auto;
    min-width:40px;
    min-height:40px;
    margin:2%
}
.price-under-img-chout{
    margin:2%
}
.font-14{
    font-size:14px;
}
.bg-light-cart-summary{
background-color:#f5f5f5;
height: max-content;

}
.l-margin{
    margin-left:2rem;
}
.ship-det-title{
   
    font-size:26px;
   text-transform: capitalize;
   
}
.ship-details-det{
    font-size:16px;
    color:rgba(18,18,18,.6);
}
.step-sec-wrap{
    margin-bottom:3rem;
}
/*//checkout pg*/