<!--top header-->
<nav class="navbar h-n-lg  navbar-light bg-light">
    <a routerLink="">
        <img src="{{BrendSetting.logo}}" class="img-responsive logo-nav" alt="" loading="lazy">
    </a>
</nav>
<!--//top header-->

<!--nav-->
<!-- bg-light-style -->
<nav class="navbar main-nav navbar-expand-lg navbar-light "
    [ngStyle]="{'background-color': BrendSetting.theme_colour.main_colour}">
    <!-- bg-light-new -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-style  mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
            true}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item  dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    shop</a>
                <div class="dropdown-menu dark-gray-txt dropdown-item-style" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item" (click)="setCategoryId(category)"
                        *ngFor="let category of categories">{{category.name}}</a>

                    <!-- <a class="dropdown-item" href="#">cat 2</a> -->
                    <!-- <a class="dropdown-item" href="#">cat 3</a> -->
                </div>
            </li>
            <li class="nav-item" routerLink="/about-us" routerLinkActive="active-link">
                <a class="nav-link" href="#about-us">Our Story</a>
            </li>
        </ul>
      
    </div>

    <ul class="  navbar-nav right-part-nav  ml-auto">
        <li class="nav-item h-n-sm">
            <form class="form-inline  nav-link">
                <input type="search" class="form-control rounded-0" name="searchText" aria-describedby="Search"
                    [(ngModel)]="searchText" placeholder="Search" autofocus>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let product of products | appFilter: searchText"
                        (click)="setProductId(product.id)">
                        {{ product.name }}
                    </li>
                </ul>
            </form>
        </li>
        <li class="nav-item">
            <a class="nav-link overlay-cont" routerLink="/cart">
                <span class="dot count-n-cart badge badge-light">{{ coutn }}</span>
                <!-- <input class="dot count-n-cart badge badge-light" disabled [(ngModel)] = "cartLength"> -->
                <i class="fas mx-1 fa-shopping-bag" [ngStyle]="{'color': BrendSetting.theme_colour.sub_colour}"></i>
            </a>
        </li>

        <li class="nav-item" *ngIf="user == undefined">
            <a class="nav-link" data-toggle="modal" data-target="#staticBackdrop" href="#">
                <i class="fas nav-user fa-user"
                    [ngStyle]="{'background-color': BrendSetting.theme_colour.sub_colour}"></i>
                <span class="ml-2 ">Log in</span>
            </a>
        </li>

        <li class="nav-item dropdown" *ngIf="user != undefined">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas nav-user fa-user"
                    [ngStyle]="{'background-color': BrendSetting.theme_colour.sub_colour}"></i> <span
                    class="ml-2 text-capitalize">Hello, {{ user.name }}</span>
            </a>
            <div class="dropdown-menu dropdown-item-style" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/my-account">My Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()"><span style="cursor: pointer"> Logout</span></a>
                <ngx-spinner name="logoutSpinner"></ngx-spinner>


            </div>


        </li>


        <!--log in  modal-->

        <!-- Button trigger modal -->

        <!-- Modal -->
        <div class="modal fade" #staticBackdrop id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
            role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-content-style">
                <div class="modal-content">

                    <div class="modal-header">
                        <span class="modal-title" id="staticBackdropLabel">
                            <!--log in tabs-->
                            <ul class="nav modal-nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="pills-login-nav-tab" data-toggle="pill"
                                        href="#pills-login-nav" role="tab" aria-controls="pills-login-nav"
                                        aria-selected="true">login</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="pills-signup-nav-tab" data-toggle="pill"
                                        href="#pills-signup-nav" role="tab" aria-controls="pills-signup-nav"
                                        aria-selected="false">signup</a>
                                </li>
                            </ul>
                            <!--//log in tabs-->
                        </span>
                        <button #dismiss type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">

                        <!--Login Form -->

                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-login-nav" role="tabpanel"
                                aria-labelledby="pills-login-nav-tab">

                                <form (ngSubmit)="login()" #objLogin="ngForm">
                                    <div class="form-group">
                                        <label for="email-nav-log">E-mail</label>
                                        <input type="email" ngModel name="email" class="form-control" id="email-nav-log"
                                            placeholder="Enter Your E-Mail" email required>
                                        <!-- <span style="color:red">{{wrongEmail}}</span> -->
                                    </div>
                                    <div class="form-group">
                                        <label for="password-nav-log">Password</label>
                                        <input type="password" ngModel name="password" class="form-control"
                                            id="password-nav-log" placeholder="Enter Your Password" required>
                                        <!-- <span style="color:red">{{wrongPassword}}</span><br> -->
                                            <a (click)="forgetP()" class="mt-2">forget password</a>
                                    </div>
                                    <button type="submit" class="btn white-color"
                                        [ngStyle]="{'background-color': BrendSetting.theme_colour.sub_colour}"
                                        [disabled]=!objLogin.valid>log-in</button>
                                    <ngx-spinner name="loginSpinner">
                                    </ngx-spinner>
                                </form>

                            </div>

                            <!-- Register Form -->

                            <div class="tab-pane fade" id="pills-signup-nav" role="tabpanel"
                                aria-labelledby="pills-signup-nav-tab">

                                <form (ngSubmit)="register(objRegister)" #objRegister="ngForm">

                                    <div class="form-group">
                                        <label for="email-nav-reg">Name</label>
                                        <input type="text" ngModel required class="form-control" name="name"
                                            id="email-nav-reg" placeholder="Enter Your Username">
                                    </div>

                                    <div class="form-group">
                                        <label for="email-nav-reg">E-mail</label>
                                        <input type="text" ngModel required email name="email" class="form-control"
                                            id="email-nav-reg" placeholder="Enter Your E-Mail">
                                        <!-- <span style="color:red">{{wrongEmail}}</span> -->
                                    </div>

                                    <div class="form-group">
                                        <label for="password-nav-reg">password</label>
                                        <input type="password" ngModel required name="password" class="form-control"
                                            id="password-nav-reg" placeholder="Enter Your Password">
                                    </div>

                                    <div class="form-group">
                                        <label for="password-nav-confirm-reg">confirm password</label>
                                        <input type="password" ngModel required class="form-control"
                                            name="confirm_password" id="password-nav-confirm-reg"
                                            placeholder="Confirm Your Password">
                                        <!-- <span style="color:red">{{wrongPassword}}</span><br> -->
                                    </div>

                                       <button type="submit" class="btn white-color"
                                        [ngStyle]="{'background-color': BrendSetting.theme_colour.sub_colour}"
                                        [disabled]=!objRegister.valid> Register</button>
                                    <ngx-spinner name="registerSpinner">
                                    </ngx-spinner>
                                </form>
                            </div>
                        </div>
                        <!--//log in content-->
                    </div>


                </div>
            </div>
        </div>
        <!--/modal-->

    </ul>
    <span class="center-logo h-n-sm">
        <a routerLink="">
            <img src="{{BrendSetting.logo}}" class="img-responsive logo-nav" alt="" loading="lazy">
        </a>
    </span>

</nav>

<!--//nav-->