input.ng-invalid.ng-touched{
    border: 1px solid red;
}

.dot{
    height: 20px;
    width: 20px;
    background-color: #b5c7d1;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #F1F6F9;
}

/*nav*/

.main-nav {
    position:relative;
    padding:30px 10px;

}
.bg-light-style .navbar-nav .nav-link{
    font-size:17px;
    padding:0 15px;
    text-transform: capitalize;
    color:#222;
    text-align: center;
    font-family: secondfont,sans-serif;
    text-transform:capitalize;
    transition:.15s ease-in-out;
  

}

   

.bg-light-style .navbar-nav .nav-link:hover{
  
    color:#394867;
    
}
.navbar-collapse{
    padding-top:20px;
}
.active-link{
    font-weight:600;
}
/*.bg-nav .navbar-nav .active > .nav-link,.bg-nav .navbar-nav .show > .nav-link{
    color:white
}*/
 .fa-shopping-bag{
    font-size:20px;
    color:#7d8a91;
}
.count-n-cart{
    position:absolute;
    top:-8px;
    right:0px;
  
}

.nav-user{
    font-size:20px;
    color:#f1f6f9;
   
    padding:.275rem .35rem;
    border-radius:50%;
}

.ml-style{
    margin-left:5%
}

.logo-nav{
    height:auto;
    width:auto;
    max-height:80px;
    max-width:150px;
}
.center-logo{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}

.h-n-lg{
    display:none;
}
/*.ml-style .dropdown-menu{
    background-color: #ca0f54;
}*/
.dropdown-item-style a{
    color:#394867;
    font-family: secondfont,sans-serif;
    transition:.15s ease-in-out;

} 
.dropdown-item-style a:hover{
 cursor:pointer;
}
.modal-nav .nav-link.active{
    background-color:#f1f6f9;
    color:#7d8a91
  

}
.modal-content-style{
    font-family:secondfont,sans-serif;
    text-transform: capitalize;
     
}

/*//nav*/