<app-second-nav></app-second-nav>
<div class="stand-block"></div>
<div class="row  justify-content-center">
  <div class="col-sm-4">
      <form action="email-sent-to-recover-pass" (ngSubmit)="ResetPassword(objResetPassword)" #objResetPassword="ngForm">

        <h5 class="text-center heavy-dark-txt text-capitalize ">reset password</h5>
        <hr class="mb-5">

      <div class="form-group">
        <label for="newpass heavy-dark-txt">new Password</label>
        <input type="password" class="form-control" id="newpass"
        placeholder="Enter Your New Password" name="password" ngModel required>
      </div>

      <div class="form-group">
        <label for="newpass-confirm">confirm Password</label>
        <input type="password" class="form-control" id="newpass-confirm"
        placeholder="Confirm Your New Password" name="confirm_password" ngModel required>
        <span class="text-danger">{{wrongPassword}}</span><br>
      </div>

      <button type="submit" class="btn btn-main curs-style" 
        [ngStyle]="{'background-color': BrendSetting.theme_colour.sub_colour}"
        [disabled]=!objResetPassword.valid>
        Submit
      </button>
    </form>
  </div>
</div>