<div class="modal-dialog modal-content-style">
    <div class="modal-content">

        <div class="modal-header">
            <span class="modal-title" id="staticBackdropLabel">

                <!--log in tabs-->
                <ul class="nav modal-nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="pills-login-nav-tab" data-toggle="pill" href="#pills-login-nav"
                            role="tab" aria-controls="pills-login-nav" aria-selected="true">login</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-signup-nav-tab" data-toggle="pill" href="#pills-signup-nav"
                            role="tab" aria-controls="pills-signup-nav" aria-selected="false">signup</a>
                    </li>
                </ul>
                <!--//log in tabs-->
            </span>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">

            <!--Login Form -->

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-login-nav" role="tabpanel"
                    aria-labelledby="pills-login-nav-tab">

                    <form>
                        <div class="form-group">
                            <label for="email-nav-log">E-mail</label>
                            <input type="email" class="form-control" id="email-nav-log" placeholder="Enter Your E-Mail"
                                email required>
                            <span class="text-danger">wrongemail</span>
                        </div>
                        <div class="form-group">
                            <label for="password-nav-log">Password</label>
                            <input type="password" class="form-control" id="password-nav-log"
                                placeholder="Enter Your Password" required>
                            <span class="text-danger">wrongPassword</span><br>
                            <form>
                                <a routerLink="/type-email-recover-pass" class="mt-2">forget password</a>
                            </form>
                        </div>
                        <button type="submit" class="btn btn-main">log-in</button>
                    </form>

                </div>

                <!-- Register Form -->

                <div class="tab-pane fade" id="pills-signup-nav" role="tabpanel" aria-labelledby="pills-signup-nav-tab">

                    <form>

                        <div class="form-group">
                            <label for="email-nav-reg">Name</label>
                            <input type="text" required class="form-control" name="username" id="email-nav-reg"
                                placeholder="Enter Your Username">
                        </div>

                        <div class="form-group">
                            <label for="email-nav-reg">E-mail</label>
                            <input type="text" required email name="email" class="form-control" id="email-nav-reg"
                                placeholder="Enter Your E-Mail">
                            <span class="text-danger">Wrong Email</span>
                        </div>

                        <div class="form-group">
                            <label for="password-nav-reg">password</label>
                            <input type="password" required name="password" class="form-control" id="password-nav-reg"
                                placeholder="Enter Your Password">
                        </div>

                        <div class="form-group">
                            <label for="password-nav-confirm-reg">confirm password</label>
                            <input type="password" required class="form-control" name="confirm_password"
                                id="password-nav-confirm-reg" placeholder="Confirm Your Password">
                            <span class="text-danger">Wrong Password</span><br>
                        </div>

                        <button type="submit" class="btn btn-main">register</button>
                    </form>
                </div>
            </div>
            <!--//log in content-->
        </div>


    </div>
</div>

<!--/modal-->