<app-second-nav></app-second-nav>
<div class="stand-block"></div>
<div class="row  justify-content-center">
    <div class="col-sm-4 text-center">
        
                <h5 class="text-capitalize heavy-dark-txt">verify email</h5>
                <hr class="mb-5">
                <p>Thanks for signing up! We sent you a confirmation email.</p>
                <p>Didn’t get the email?</p>
                <p> please check your spam folder before click 
                    <a (click) = "ResendEmail()" class="curs-style" >Resend.</a><br>
                    <span class="text-success">{{successMessage}}</span>
                </p>

    </div>
</div>