 
.col-sm-4 {
    text-align: center;
}
.recover-password-wrap{
    z-index: 9999999;
    position:relative;
    background-color:white;
    width:100%
}
.back{
    margin-top: 12px;
    padding: 4px 21px;
    border: none;
    background: #465258;
    color: white;
}