<app-second-nav></app-second-nav>
<div class="recover-password-wrap"   >
<div class="stand-block"></div>
<div class="row  justify-content-center ">
    <div class="col-sm-4">
        <form action="email-sent-to-recover-pass" (ngSubmit)="recoverEmail(email)" #email="ngForm">
        <div class="form-group " >
            <label for="emailrecoverpass">Email address</label>
            <input type="email" ngModel required email name="email" aria-describedby="emailHelp"
                class="form-control" id="emailrecoverpass" placeholder="Enter Your E-Mail">
            <span class="text-danger">{{wrongEmail}}</span>
        </div>

        <button type="submit" class="btn btn-main curs-style"
            [ngStyle]="{'background-color': BrendSetting.theme_colour.sub_colour}"
            [disabled]=!email.valid>
            Submit
        </button>
        <ngx-spinner name="submitSpinner"></ngx-spinner>
    </form>
    <button (click)="back()" class="back">Back</button>
    </div>
</div>
<div class="stand-block"></div>
<div class="stand-block"></div>
<div class="stand-block"></div>

</div>