<!--skeleton category-->

<div class="row mt-5 justify-content-center" *ngIf="categories == undefined">
    <div class="col-sm-2 ">
        <div class="skel-body skel-body-cat">
            <div class="skel-bg-sq skel-bg-sq-cat mx-auto"></div>
            <div class="skel-bg-title mx-auto"></div>
        </div>
    </div>
    <div class="col-sm-2 ">
        <div class="skel-body skel-body-cat">
            <div class="skel-bg-sq skel-bg-sq-cat mx-auto"></div>
            <div class="skel-bg-title mx-auto"></div>
        </div>
    </div>
    <div class="col-sm-2 ">
        <div class="skel-body skel-body-cat">
            <div class="skel-bg-sq skel-bg-sq-cat mx-auto"></div>
            <div class="skel-bg-title mx-auto"></div>
        </div>
    </div>
</div>

<!--//skeleton category-->
<div class="row  my-5 justify-content-center" *ngIf="categories != undefined">
    <div class=" col-sm-7">

        <a routerLink="/category" (click)="setCategoryId(category.id)" *ngFor="let category of categories">
            <div class="card card-w-3 card-style-cat">
                <img src="{{category.image}}" alt="" class="img-responsive cat-img">
                <div class="card-body py-0">
                    <a routerLink="/category" class="btn text-capitalize">
                        <h4>{{category.name}}</h4>
                    </a>
                </div>
            </div>
        </a>

    </div>
</div>