ngb-carousel .wrapper {
  position: relative;
  height: 0;
  padding-top: 55%; /* Keep ratio for 900x500 images */
}

ngb-carousel .wrapper>img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

input.ng-invalid.ng-touched{
  border: 1px solid red;
}

.checked {
  color: orange;
}

/*product-det pg*/
.pro-img-pro-det-pg{
    width:auto;
    max-width:100%;
    height:auto;
    max-height:420px;
}
/*.pro-title-pro-pg{
  
    font-family:secondfont,sans-serif;
}*/

.form-group{
    font-family:secondfont,sans-serif;
    text-transform:capitalize;
}
.accordion {
    background-color: white;
    color: #444;
    
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-family:secondfont,sans-serif;
  }
  .accordion-border{
      border-bottom:1px solid lightgray;
  }
  .accordion-txt{
    font-family:secondfont,sans-serif;
    color: #444;

  }
.accordion-txt .fa-circle{
    font-size:9px;
}
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }
  .mt-stand{
      margin-top:10%;
  }
/*//pro-det-pg*/
/*modal right*/
.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 320px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.left .modal-content,
	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}
	
	.modal.left .modal-body,
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}


/* ----- MODAL STYLE ----- */
	.modal-content {
		border-radius: 0;
		border: none;
	}

	.modal-header {
		border-bottom-color: #EEEEEE;
		background-color: #FAFAFA;
	}
.review-item-modal-img{
  height:auto;
  width:auto;
  max-height:96px;
  max-width:96px;

  
}


/*//modal right*/