<div class="row">
    <div class="bg-intro-line" [ngStyle]="{'background-color': BrendSetting.theme_colour.sub_colour}"></div>
</div>
<!--intro-->
<div class="row mt-5 justify-content-center">
    <div class="col-sm-4 " >
       <!--skeleton-->
       <div class="skel-body skel-body-img-det" *ngIf="productDetails.images == ''">
            <div class="skel-bg-sq skel-img-det "></div>
        </div>
       <!--//skeleton-->

       <div *ngIf="flag == 0">
           <img src="{{productDetails.images}}" alt="" class="img-responsive pro-img-pro-det-pg">
       </div>

        <ngb-carousel *ngIf="flag == 1">
            <ng-template ngbSlide *ngFor="let image of images">
                <div class="wrapper">
                    <img [src]="image" class="img-responsive pro-img-pro-det-pg" alt="Random first slide">
                </div>
            </ng-template>
        </ngb-carousel>
    </div>


    <div class="col-sm-4">

        <h2 class="heavy-dark-txt secondfont-txt text-center">{{productDetails.name}}</h2>
        <h4 class="near-black text-uppercase text-center mt-5">{{productDetails.price}}<sub>egp</sub></h4>

        <div class="form-row  mt-5">

            <div class="form-group col-md-6 text-center">
                <label class="col-sm-6 col-form-label mx-auto" for="quantitynum-pro-pg">quantity</label>
                <input type="number" [(ngModel)]="product.quantity" min="1" class="form-control mx-auto  w-50"
                    id="quantitynum-pro-pg">
            </div>
            <div class="form-group col-md-6 text-center mt-auto">
                <button 
                    (click)="addtoCart()" type="submit" class="btn btn-main text-uppercase btn btn-demo" 
                    [ngStyle]="{'background-color': BrendSetting.theme_colour.sub_colour}"
                    data-toggle="modal" data-target="#myModal2">Add to Cart
                </button>
            </div>
        </div>

        <div *ngIf="product.quantity" class="modal right fade" id="myModal2" tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel2">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title near-black secondfont-txt" id="myModalLabel2">Your Cart</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>

                    </div>

                    <div class="modal-body">

                        <div class="row font-14 justify-content-between" *ngFor="let item of cart">
                            <div class="card card-no-border text-center w-100">
                                <img src="{{item.image}}" alt="" class="img-responsive mx-auto review-item-modal-img">

                                <div class="card-body ">

                                    <p class="card-text   font-16 heavy-dark-txt">{{item.name}}</p>
                                    <p class="card-text font-14 near-black">QTY:{{item.quantity}}</p>

                                    <span class="text-uppercase  near-black font-14">{{item.price * item.quantity}}
                                        egp</span>
                                    <hr>
                                </div>
                            </div>



                            <!--OLD ONE
                            
                                <img src="{{item.image}}" alt="" class="img-responsive checkoutpg-cart-detail-img" style="width: 250px;">
                                <span >{{item.name}}
                                    <p class="mb-0 ">qty:{{item.quantity}}</p>
                                </span>   
                                <span class="text-uppercase font-14">{{item.price * item.quantity}} egp</span>
                                -->
                        </div>
                        <!-- <div class="row">
                            <span>subtotal</span>

                        </div> -->
                    </div>
                    <div class="modal-footer">
                        <a routerLink="/cart">
                            <button type="button" class="btn btn-border btn-modal-view-cart btn-border"
                                data-dismiss="modal">view cart</button>
                        </a>
                        <a href="product-detail">
                            <button type="button" class=" btn  btn-main"[ngStyle]="{'background-color': BrendSetting.theme_colour.sub_colour}" 
                                aria-label="Close" >Continue Shopping</button>
                        </a>
                        <!-- data-dismiss="modal" -->
                    </div>

                </div><!-- modal-content -->
            </div><!-- modal-dialog -->
        </div><!-- modal -->




        <div class="mt-5 desc-wrap">
            <!--test description
            <h4 class=" near-black secondfont-txt ">Features</h4>
            <ul class="firstfont-txt font-16 dark-gray-txt">
                <li>
                    Our exclusive formula keeps Vitamin C pure and potent
                </li>
                <li>
                    Our exclusive formula keeps Vitamin C pure and potent
                </li>
                <li>
                    Our exclusive formula keeps Vitamin C pure and potent
                </li>
                <li>
                    Our exclusive formula keeps Vitamin C pure and potent
                </li>

            </ul>
         -->   <hr>
            <h4 class=" near-black secondfont-txt ">Description</h4>
            <ul class="firstfont-txt font-16 dark-gray-txt">
                {{productDetails.short_desc}}
            </ul>
            <hr>
            <h4 class=" near-black secondfont-txt ">Reviews</h4>
            <form (ngSubmit)="saveReview()" #objReview="ngForm">

                <ngb-rating [(rate)]="currentRate"></ngb-rating>
                <pre>Rate: <b>{{currentRate}}</b></pre>
                <textarea required ngModel name="review" class="form-control" placeholder="Write your review"></textarea><br>
                <button type="submit" [ngStyle]="{'background-color': BrendSetting.theme_colour.sub_colour}"
                    [disabled]=!objReview.valid class="btn white-color">
                    <div *ngIf = "reviewSpn == true" class="text-center">
                        <div class="spinner-border " role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <span *ngIf = "reviewSpn == false">Save</span>
                </button>
            </form>
            <hr>
            <ul class="firstfont-txt font-16 dark-gray-txt" *ngFor="let review of productReviews">
                <p style="float: right;">{{ review.created_at | date: 'dd/MM/yyyy' }}</p>
                <p>{{ review.user_id }}</p>
                <span *ngIf="review.rate > 5" style="float: right;" class="fa fa-star checked"></span>
                <span *ngIf="5 >= review.rate" style="float: right;" class="fa fa-star"></span>
                <p>{{ review.rate }}</p>
                <li>{{ review.review }}</li>
            </ul>
            <!--description with show and hide    <p>
                <button class="btn heavy-dark-txt secondfont-txt p-0 " type="button" data-toggle="collapse"
                    data-target="#collapseDescription" aria-expanded="false" aria-controls="collapseDescription">
                    <h4> Descriptiong<span class="font-14 gray-txt ml-2"><i class="fas fa-plus"></i></span></h4>
                </button>
                
            </p>
            <div class="collapse" id="collapseDescription">
                <div class="card card-body firstfont-txt font-16 dark-gray-txt">
                    {{productDetails.short_desc}}
                </div>
            </div>
          -->
            <!--//test description
            <button class="accordion ">Description
            </button>
            <p class="accordion-txt ">{{productDetails.short_desc}}</p>
            <div class="panel">
                <p>there is error here nothing show here</p>

            </div>
            <hr>
            <button class="accordion">Specifications
            </button>
            <div class="panel">
                <p class="accordion-txt">
                    <i class="far mr-3 fa-circle"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
                    <i class="far mr-3 fa-circle"></i>sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.<br>
                    <i class="far mr-3 fa-circle"></i>Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris.<br>
                </p>
            </div>-->

        </div>

    </div>
</div>
<!--//intro-->
<!--product-->

<div class="row mt-stand justify-content-center" *ngIf="relatedProductsLength != 1">
    <div class="col-sm-4">
        <h1 class="pro-title mb-5 secondfont-txt near-black ">we recommend</h1>
    </div>
</div>

<!--//product-->
<!--skeleton product -->

<div class="row mb-5  justify-content-center" *ngIf="relatedProducts == undefined">

    <div class="col-sm-2 ">
        <div class="skel-body skel-body-cat">
            <div class="skel-bg-sq"></div>
            <div class="skel-bg-title mx-auto"></div>
            <div class="skel-bg-det mx-auto"></div>
        </div>
    </div>
    <div class="col-sm-2 ">
        <div class="skel-body skel-body-cat">
            <div class="skel-bg-sq"></div>
            <div class="skel-bg-title mx-auto"></div>
            <div class="skel-bg-det mx-auto"></div>
        </div>
    </div>
    <div class="col-sm-2 ">
        <div class="skel-body skel-body-cat">
            <div class="skel-bg-sq"></div>
            <div class="skel-bg-title mx-auto"></div>
            <div class="skel-bg-det mx-auto"></div>
        </div>
    </div>
    <div class="col-sm-2 ">
        <div class="skel-body skel-body-cat">
            <div class="skel-bg-sq"></div>
            <div class="skel-bg-title mx-auto"></div>
            <div class="skel-bg-det mx-auto"></div>
        </div>
    </div>
   
</div>
<!--// skeleton product-->
<!--prod-car-->
<div class="row mb-5  justify-content-center" *ngIf="relatedProducts != undefined">

    <div class="col-sm-2" *ngFor="let product of relatedProducts | slice:0:4;">
        <div class="overlay-cont">

            <div class="card card-pro w-100">
                <img src="{{product.images}}" class="card-img-top mx-auto pro-img img-responsive" alt="...">
                <div class="card-body font-14 text-capitalize  gray-txt text-center">
                    <a class="curs-style gray-txt" (click)="setProductId(product.id)">
                        <p class="card-text heavy-dark-txt card-txt-style">

                            {{product.name}}

                        </p>
                    </a>
                    <hr>
                    <p class="font-14 mb-1">available</p>
                    <p class="near-black font-16">{{product.price}}<sub>EGP</sub></p>
                    <p class="near-black font-16">{{product.id}}</p>
                </div>
            </div>

            <div class="pro-overlay">
                <a class="overlay-txt heavy-dark-txt curs-style" (click)="setProductId(product.id)">View Details</a>
            </div>
        </div>
        <!--old code 
        <div class="item">
            <div class="overlay-cont">
                <img src="{{product.images}}" alt="" class="pro-img img-responsive">
                <div class="pro-overlay">
                    <a class="overlay-txt" style="cursor: pointer" (click)="setProductId(product.id)"> quick view</a>
                </div>
            </div>
        </div>-->

    </div>


</div>
<!--//prod car-->