<!--top header-->
<nav class="navbar h-n-lg  navbar-light bg-light">
    <a routerLink="">
        <img src="assets/image/logo.jpg" class="img-responsive logo-nav" alt="" loading="lazy">
    </a>
</nav>
<!--//top header-->

<!--nav-->

<nav class="navbar main-nav navbar-expand-lg  bg-nav">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-style">
            <li class="nav-item active">
                <a class="nav-link" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
            true}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item  dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    shop</a>
                <div class="dropdown-menu dropdown-item-style" aria-labelledby="navbarDropdown" >
                    
                    <a class="dropdown-item" href="#" >category.name</a>
                    
                    <!-- <a class="dropdown-item" href="#">cat 2</a> -->
                    <!-- <a class="dropdown-item" href="#">cat 3</a> -->
                </div>
            </li>
            <li class="nav-item" routerLink="/about-us" routerLinkActive="active-link">
                <a class="nav-link" href="#">our story</a>
            </li>
        </ul>
    </div>

    <ul class="  navbar-nav right-part-nav  ml-auto">
         <li class="nav-item h-n-sm">
            <form class="form-inline  nav-link">
                <input class="form-control " type="search" placeholder="Search" aria-label="Search">

            </form>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/cart"><span><i class="fas fa-shopping-bag"></i></span></a>
        </li>
       <!--new log in -->
       <!--new log in -->
        <li class="nav-item"  >
            <a class="nav-link" routerLink="log-reg">
                <i class="fas nav-user fa-user"></i>
                <span class="ml-2 ">log in</span>
            </a>
        </li>
       
     <!--   <li class="nav-item" *ngIf="user != undefined">
            <i class="fas nav-user fa-user"></i>
            <span class="ml-2 ">Hello, {{ user.name }}</span>
            <a (click) = "logout()" style="cursor: pointer"><span>logout</span></a>
        </li>

-->
        <!--log in  modal-->

        <!-- Button trigger modal -->

        <!-- Modal -->
     

    </ul>
    <span class="center-logo h-n-sm">
        <a routerLink="">
            <img src="assets/image/logo.jpg" class="img-responsive logo-nav" alt="" loading="lazy">
        </a>
    </span>

</nav>
<!--//nav-->