input.ng-invalid.ng-touched{
    border: 1px solid red;
}

/*nav*/
.bg-nav{
    background-color:#ca0f54 ;
}
.main-nav {
    position:relative;
    padding:30px 10px;

}
.bg-nav .navbar-nav .nav-link{
    font-size:17px;
    padding:0 15px;
    text-transform: capitalize;
    color:lightgray;
    text-align: center;
    font-family: secondfont,sans-serif;
    text-transform:capitalize;
    transition:.15s ease-in-out

}
.bg-nav .navbar-nav .nav-link:hover{
    color:white;
    
}
.navbar-collapse{
    padding-top:20px;
}
.bg-nav .navbar-nav .active > .nav-link,.bg-nav .navbar-nav .show > .nav-link{
    color:white
}
 .fa-shopping-bag{
    font-size:25px;
    color:white;
}
.nav-user{
    font-size:20px;
    color:#ca0f54;
    background-color:white;
    padding:4px;
    border-radius:50%;
}

.ml-style{
    margin-left:5%
}

.logo-nav{
    height:auto;
    width:120px;
    max-height:60px;
}
.center-logo{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}

.h-n-lg{
    display:none;
}
.ml-style .dropdown-menu{
    background-color: #ca0f54;
}
.dropdown-item-style a{
    color:white;
    font-family: secondfont,sans-serif;
    transition:.15s ease-in-out;
} 
.modal-nav .nav-link.active{
    background-color: white;
    color:#ca0f54 !important;

}
.modal-content-style{
    font-family:secondfont,sans-serif;
    text-transform: capitalize;
     
}

/*//nav*/