<!--if nothing in the cart
<div class="stand-block"></div>
<div class="row  justify-content-center">
    <div class="col-sm-4 text-center">
        <h5 class="text-capitalize heavy-dark-txt">shopping cart</h5>
        <hr class="mb-5">
    <p class=" near-black">You have 0 items in your cart.</p>
    <p class="near-black">Lets's start shopping <a routerLink="">NOW</a>  </p>
    </div>
</div>-->
<div class="row wrap-m justify-content-center">
  
  <div class="col-sm-6">

    <div class="card cart-view-pro text-capitalize w-100 card-no-border secondfont-txt">
      <ul class="list-group list-group-flush">

        <li class="list-group-item  cart-view-li-style">
          <!--  old my cart
          <div class="row" *ngFor="let item of cart">
            <div class="col-sm-auto">
              <img src="{{item.image}}" alt="" class="img-responsive cart-view-pro-img">
            </div>
            <div class="col-sm-3">
              <p class="cart-view-pro-name">{{item.name}}</p>
              <span class="det-cart-pg text-uppercase">egp {{item.price}}</span><br>
              <span class="det-cart-pg">quantity : {{item.quantity}}</span>
            </div>
           
            <div class="col-sm-3">

              <button class="btn remove-on-cart gray-txt" (click)="removeProduct(item.id)">
                &times;
              </button> 
              <span class="cart-view-pro-name text-uppercase">{{item.price * item.quantity}} egp</span>
            </div>
          </div>-->
          <!--test-->
          <table class="table table-responsive dark-gray-txt">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col" class="cart-view-title ">my cart</th>

                <th scope="col">product</th>
                <th scope="col">price</th>
                <th scope="col">quantity</th>
                <th scope="col">subtotal</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cart">
                <td> <button class="btn remove-on-cart gray-txt" (click)="removeProduct(item.id)">
                    &times;
                  </button> </td>
                <th scope="row">
                  <img src="{{item.image}}" alt="" class="img-responsive  cart-view-pro-img">
                </th>
                <td  class="heavy-dark-txt">{{item.name}}</td>
                <td class="near-black">{{item.price}}</td>
                <td class="near-black">
                  {{item.quantity}}
                  <!-- <div class="form-group  text-center"> 

                    <input type="number" min="1" class="form-control  w-50"
                      id="quantitynum-cart-pg">
                  </div> -->
                </td>
                <td class="near-black">{{item.price * item.quantity}}</td>


              </tr>

            </tbody>
          </table>
          <!--//test-->

        </li>

        <li class="list-group-item cart-view-li-style">

          <p>
            <a class="promo-code heavy-dark-txt" data-toggle="collapse" href="#collapsepromo" role="button"
              aria-expanded="false" aria-controls="collapsepromo">
              <i class="fas mr-2 fa-tag"></i>enter promo code
            </a>

          </p>
          <div class="collapse" id="collapsepromo">
            <div class="card card-body">
              <form class="form-inline" (ngSubmit)="CheckPromoCode(promocode)" #promocode="ngForm">
                <div class="form-group mx-sm-3 mb-2">
                  <input type="text" class="form-control" id="inputpromocode" name="promocode"
                    placeholder="Enter Promo Code" ngModel required>
                </div>
                <button type="submit" class="btn btn-border btn-main mb-2" 
                  [ngStyle]="{'background-color': BrendSetting.theme_colour.sub_colour}" 
                  [disabled]=!promocode.valid>
                  apply
                </button>
                <ngx-spinner name="promocodeSpinner">
                </ngx-spinner>
              </form>
            </div>
          </div>

        </li>
      </ul>
    </div>
  </div>



  <!--order summary-->
  <div class="col-sm-3">
    <div class="card cart-view-pro text-capitalize secondfont-txt">
      <ul class="list-group list-group-flush">
        <li class="list-group-item cart-view-title heavy-dark-txt">order summary</li>
        <li class="list-group-item cart-view-li-style">
          <div class="row ">

            <div class="col-sm-12">
              <div class="ds-block heavy-dark-txt">
                <p class="cart-view-pro-name  float-left ">Subtotal</p>
                <p class="cart-view-pro-name float-right ">{{subtotal}} egp</p>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="det-cart-pg gray-txt  float-left">Shipping</p>
              <p class="det-cart-pg gray-txt  float-right">{{cityDeliveryFees}} egp</p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <p class="det-cart-pg gray-txt  float-left">Promo Code</p>
              <p class="det-cart-pg gray-txt  float-right">{{promocodeValue}} egp</p>
            </div>
          </div>

          <!-- <div class="row">
            <div class="col-sm-6">
              <p class="det-cart-pg">cairo-egypt</p>    
            </div> 
          </div> 
          <div class="col-sm4  ">
            <span class="det-cart-pg text-uppercase">free</span>
          </div>     -->


          <div class="row">
            <div class="col-sm-12">
              <form>
                <div class="form-group ">
                  <label for="inputcity">city</label>
                  <select id="inputcity" class="form-control" (change)="onChange($event)">
                    <option disabled selected>Choose...</option>
                    <option *ngFor="let city of cities" [value]="city.price">{{city.city}}</option>
                    <!-- <option>aswan</option> -->

                  </select>
                </div>
              </form>
            </div>
          </div>
        </li>

        <li class="list-group-item cart-view-li-style">
          <div class="row ">

            <div class="col-sm-12">
              <div class="ds-block heavy-dark-txt font-20">
                <p class=" float-left">total</p>
                <p class=" float-right text-uppercase" *ngIf="!cityDeliveryFees">{{subtotal}} egp</p>
                <p class=" float-right text-uppercase" *ngIf="cityDeliveryFees && !promocodeValue">
                  {{+cityDeliveryFees + subtotal}} egp</p>
                <p class=" float-right text-uppercase" *ngIf="promocodeValue">
                  {{+cityDeliveryFees + subtotal - promocodeValue}} egp</p>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <!-- routerLink="/checkout" -->
              <a>
                <button type="button" (click)="checkout()" 
                  [ngStyle]="{'background-color': BrendSetting.theme_colour.sub_colour}" class="btn btn-main my-3 w-100 rounded-pill">
                  <i class="fas mr-2 font-19 fa-shopping-bag"></i>
                  Check Out
                </button><br>
                <button type="button" *ngIf = "activeMailFlag == 1" (click)="activeYourMail()" 
                  [ngStyle]="{'background-color': BrendSetting.theme_colour.sub_colour}" class="btn btn-main w-100 rounded-pill">
                  Please Activate E-mail
                </button>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!--//order summary-->




</div>