/*cart page*/


.cart-view-pro-img{
    height:auto;
    width:auto;
    min-height:50px;
    min-width:50px;
    max-height:135px;
    max-width:135px;
}
.cart-view-pro-name{
    font-size:16px;
}
.det-cart-pg{
    font-size:14px;
  
}
.cart-view-li-style{
    padding:5% 0px;
}
.quantity-cart-pg{
    width:90%;
}
.remove-on-cart{
    background-color: transparent;
    border:1px solid #9ba4b4;
    border-radius:50%;
    padding:0px;
    height:auto;
    max-height:28px;
    width:24px;
    margin:0px 0.5rem
   
}
.my-cart-list{
    display:inline;

}
th{
    font-weight:500;
    border-top:0px
}
td ,th{
    text-align: center;
}
.promo-code{
 
    font-size:16px;
    text-decoration:underline
}


.ds-block{
    display:block;
}

/*//cart page*/