ngb-carousel .wrapper {
    position: relative;
    height: 0;
    padding-top: 55%; /* Keep ratio for 900x500 images */
}
  
ngb-carousel .wrapper>img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/*index page*/
.bg-ds-banner{
    background-color: aliceblue;
}
.ds-banner-txt{
    font-family:secondfont;
    font-size:18px ;
   
}

.main-banner{
    width:100%;
    height:600px;
    max-height:600px;
  
}

.rel-cont{
    position:relative;
}
.overlayintro{
    background-color: rgba(0,0,0,0.5);
    height:100%;
    width:100%;
    position:absolute;
    top:0px;
    left:0px



}
.intro-title{
    position:absolute;
    left:10%;
    top:50%;
    transform: translateY( -50%);
    
}
.intro-title-end{
    position:absolute;
    right:10%;
    top:50%;
    transform: translateY( -50%);
    
}


.txt-sm-stand{
    font-weight:400;
    font-size:30px;
    text-transform:capitalize;
   
    color:black;
    letter-spacing:-3px;
    font-style:italic;

    
}
.slide-style{
    width:250px!important
}
.btn-car-style{
    background-color:transparent;
    color:#7d8a91;
    border:0px;
    font-size:30px;
    position:absolute;
    opacity:0;
    transition: 0.5s ease-in-out;   

}
.btn-car-style:focus {
    outline: none;
    box-shadow: none;
  }
.btn-car-left {
    top:100%;
    left:10px;
   
}
.btn-car-right{
    top:100%;
    right:10px;
   
}

.slick-slide-wrapper:hover .btn-car-left,.slick-slide-wrapper:hover .btn-car-right{
  top: 50%;
    transform: translateY(-50%);
    opacity:1;
}

/*
.bg-fill{
    background-color:rgba(151 ,165, 173,0.3);
    
}
.about-bg{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
 
}
.glow-bg{
background:url(src/assets/image/sparkle2.png),url(src/assets/image/sparkle1.png);
animation:sparkle 60s linear infinite;
width:100%;
background-size: cover;
}
.logo-about{
    height:200px;
    width:auto;
    max-width:200px
}
.about-txt-wrap{
    margin-top:0.5rem
}*/
/*//index page*/
@media (max-width: 575.98px) { 
    .main-banner{
        width:100%;
        height:auto;
        max-height:600px;
      
    }
    .intro-title ,.intro-title-end{
        font-size:30px;
    }
    .intro-title{
        top:20%
    }
    
}
