<!--ds banner
<div class="row py-2  bg-dark justify-content-center">

    <h6 class="ds-banner-txt light-txt">Enjoy 20% off all our products till the end of july! Using this code: 20off</h6>
</div>-->
<!--//ds banner-->
<div class="row">
    <div class="bg-intro-line" [ngStyle]="{'background-color': BrendSetting.theme_colour.sub_colour}"></div>
</div>

<!--skeleton banner-->
<div class="row justify-content-center" *ngIf=" BrendSetting.banner_image == ''">
    <div class="skel-body skel-body-banner">
        <div class="skel-bg-sq skel-banner "></div>
    </div>
</div>
<!--//skeleton banner-->
<!--banner-->

    <div class="row" *ngIf=" BrendSetting.banner_image != '' ">
        <div class="rel-cont  w-100">


            <img src="{{BrendSetting.banner_image}}" class="main-banner img-responsive " alt="main-banner">
            <div class="overlayintro">
            </div>
            <div>
                <h1 class="intro-title white-color">Smart Shopping</h1>
                <h1 class="intro-title-end white-color">Starts Here</h1>
            </div>
         
    </div>
</div>
<!--//banner-->

<!--skeleton category-->

<div class="row mt-5 justify-content-center " *ngIf="categories == undefined">
    <div class="col-sm-2 ">
        <div class="skel-body skel-body-cat">
            <div class="skel-bg-sq skel-bg-sq-cat mx-auto"></div>
            <div class="skel-bg-title mx-auto"></div>
        </div>
    </div>
    <div class="col-sm-2 ">
        <div class="skel-body skel-body-cat">
            <div class="skel-bg-sq skel-bg-sq-cat mx-auto"></div>
            <div class="skel-bg-title mx-auto"></div>
        </div>
    </div>
    <div class="col-sm-2 ">
        <div class="skel-body skel-body-cat">
            <div class="skel-bg-sq skel-bg-sq-cat mx-auto"></div>
            <div class="skel-bg-title mx-auto"></div>
        </div>
    </div>
</div>

<!--//skeleton category-->
<!-- <div class="row mt-5 justify-content-center " *ngIf="categories != undefined">
    <div class="col-sm-2 d-flex text-center justify-content-center" *ngFor="let category of categories | slice:0:3;">
        <a routerLink="/category" (click)="setCategoryId(category.id)">
            <div class="card card-style-cat">
                <img src="{{category.image}}" alt="" class="img-responsive cat-img">
                <div class="card-body py-0">
                    <a href="#" class="btn">
                        <h4>{{category.name}}</h4>
                    </a>
                </div>
            </div>
        </a>
    </div>
</div> -->
<div class="slick-slide-wrapper rel-cont">
    <ngx-slick-carousel class="carousel mt-5" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of categories" class="slide"> <!-- slide-style -->
            <a (click)="setCategoryId(slide.id)">
                <div class="card card-style-cat">
                    <img src="{{ slide.image }}" alt="" class="img-responsive cat-img">
                    <div class="card-body py-0" style="text-align: center;">
                        <a class="btn">
                            <h4>{{slide.name}}</h4>
                        </a>
                    </div>
                </div>
            </a>
        </div>
    </ngx-slick-carousel>

    <button class="btn-prev btn  btn-car-style btn-car-left" style="color: black;" (click)="prev()">&lt;</button>
    <button class="btn-next btn btn-car-style btn-car-right" style="color: black;" (click)="next()">&gt;</button>
</div>

<!-- <ngb-carousel >
    <ng-template ngbSlide *ngFor="let slide of categories">
        <div class="wrapper">
        <img [src]="slide.image" alt="Random first slide">
        </div>
        <div class="carousel-caption">
        <h3>First Slide</h3>
        <p> Angular 10 Carousel Example </p>
        </div>
    </ng-template>
</ngb-carousel> -->

<!-- <div class="row mt-5 justify-content-center">
    <a routerLink="/list-category" class=" near-black">
        <i class="fas fa-long-arrow-alt-right"></i>
        See more
    </a>
</div> -->

<!--//banner-->
<!--product-->
<div class="row mt-5 justify-content-center">
    <div class="col-sm-4">
        <h1 class="pro-title mb-5 secondfont-txt near-black ">feature product</h1>
    </div>
</div>

<!--//product-->
<!--skeleton product -->

<div class="row mb-5  justify-content-center" *ngIf="featureProducts == undefined">

    <div class="col-sm-2 ">
        <div class="skel-body skel-body-cat">
            <div class="skel-bg-sq"></div>
            <div class="skel-bg-title mx-auto"></div>
            <div class="skel-bg-det mx-auto"></div>
        </div>
    </div>
    <div class="col-sm-2 ">
        <div class="skel-body skel-body-cat">
            <div class="skel-bg-sq"></div>
            <div class="skel-bg-title mx-auto"></div>
            <div class="skel-bg-det mx-auto"></div>
        </div>
    </div>
    <div class="col-sm-2 ">
        <div class="skel-body skel-body-cat">
            <div class="skel-bg-sq"></div>
            <div class="skel-bg-title mx-auto"></div>
            <div class="skel-bg-det mx-auto"></div>
        </div>
    </div>
    <div class="col-sm-2 ">
        <div class="skel-body skel-body-cat">
            <div class="skel-bg-sq"></div>
            <div class="skel-bg-title mx-auto"></div>
            <div class="skel-bg-det mx-auto"></div>
        </div>
    </div>
</div>
<!--// skeleton product-->
<!--prod-car-->
<div class="row mb-5  justify-content-center" *ngIf="featureProducts != undefined">
    <div class="col-sm-2" *ngFor="let product of featureProducts | slice:0:4;">
        <div class="overlay-cont">
            <div class="card card-pro w-100">
                <img src="{{product.images}}" class="card-img-top mx-auto pro-img img-responsive" alt="...">
                <div class="card-body font-14 text-capitalize  gray-txt text-center">
                    <a class="curs-style gray-txt" (click)="setProductId(product.id)">
                        <p class="card-text heavy-dark-txt card-txt-style">
                            {{product.name}}
                        </p>
                    </a>
                    <hr>
                    <p class="font-14 mb-1 ">available</p>
                    <p class="near-black font-16">{{product.price}}<sub>EGP</sub></p>
                </div>
            </div>
            <div class="pro-overlay">
                <a class="overlay-txt heavy-dark-txt curs-style" (click)="setProductId(product.id)">View Details</a>
            </div>
        </div>
    </div>
</div>
<!--//prod car-->
<!--about us
<div class="row" id="about-us">
    <div class="col-sm-6 px-0">
        <div class="about-bg">
            <div class="glow-bg">
                <div class="bg-fill text-center">
                    <img src="assets/image/logo-instagram.png" class="mx-auto py-3 logo-about" alt="logo">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">

        <div class="about-txt-wrap">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>

    </div>
</div>-->
<!--//about us-->