
/*cat page*/
/*
.main-banner{
    width:30%;
    height:600px;
    max-height:600px;
}
.fill-bg-cat{
    background-image:linear-gradient(90deg,#f1f6f9 , white,#f1f6f9 ) ;
    width:100%;
  }*/
  .crumb-style{
      box-shadow:  8px 3px 8px #00000029
  }
  .margin-y-cat{
      margin:3rem auto
  }
.card-style{
    border-width: 0px;
}
.cat-pg-pro-img{
    width:100%;
    height:200px;
    max-width:350px;
    max-height:350px;

}
.quick-view-txt{
    cursor:pointer;
    text-transform:capitalize;
}
.pro-review-img{
    width:480px;
    height:480px;
   
}
.modal-content-style{
    font-family:secondfont,sans-serif;
}
.modal-dialog-style{
    max-width:70%;
}
.quick-view-txt-wrap{
    display:block;
    text-transform:capitalize;
}
.quantity-input-modal{
width:25%;
}
.cat-pg-pro-det{
    text-align:center;
    font-family:secondfont,sans-serif;
    text-transform:capitalize;
    padding-top:0px;
}
.quick-view-price{
    text-transform:uppercase;
    font-size:20px;
    font-family:secondfont,sans-serif;
    
}
.pro-det-a{
    text-decoration: underline;
    color:darkgrey;
}
.pro-det-a:hover{
color:darkgrey
}
.carousel-indicators-style li{
    border-radius:50%;
    width:10px;
    height:10px;
    background-color:#ca0f54;
}

.carousel-indicators-style{
    position:relative;
}
/*//cat page*/