<!--banner
<div class="fill-bg-cat">
<div class="row ">

        <img src="{{ categoryImage }}" class="main-banner img-responsive" alt="main-banner">
    </div>

</div>
-->
<!--//banner-->
<!--cat- title
<div class="row mt-5 justify-content-center">
    <div class="col-sm-4">
        <h1 class="pro-title mb-5 secondfont-txt heavy-dark-txt ">{{categoryName}}</h1>
    </div>
</div>

-->
<!--//cat title-->

<!--product-->

<nav aria-label="breadcrumb ">
    <ol class="breadcrumb crumb-style">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{categoryName}}</li>
    </ol>
</nav>
<!--skeleton product -->


<div class="row mb-5  justify-content-center" *ngIf="ProductsAttachedtoCategory == undefined">

    <div class="col-sm-2 ">
        <div class="skel-body skel-body-cat">
            <div class="skel-bg-sq"></div>
            <div class="skel-bg-title mx-auto"></div>
            <div class="skel-bg-det mx-auto"></div>
        </div>
    </div>
    <div class="col-sm-2 ">
        <div class="skel-body skel-body-cat">
            <div class="skel-bg-sq"></div>
            <div class="skel-bg-title mx-auto"></div>
            <div class="skel-bg-det mx-auto"></div>
        </div>
    </div>
    <div class="col-sm-2 ">
        <div class="skel-body skel-body-cat">
            <div class="skel-bg-sq"></div>
            <div class="skel-bg-title mx-auto"></div>
            <div class="skel-bg-det mx-auto"></div>
        </div>
    </div>
</div>
<!--// skeleton product-->
<div class="margin-y-cat" *ngIf="ProductsAttachedtoCategory != undefined">
    <div class="row justify-content-center">
        <div class="col-sm-2" *ngFor="let Product of ProductsAttachedtoCategory | paginate: { 
        id:'listing_pagination',
        itemsPerPage: per_page,
        currentPage: current_page,
        totalItems: total
    }">


            <div class="overlay-cont">

                <div class="card card-pro w-100">
                    <img src="{{Product.images}}" class="card-img-top mx-auto pro-img img-responsive" alt="...">
                    <div class="card-body font-14 text-capitalize  gray-txt text-center">
                        <a class="curs-style gray-txt" (click)="setProductId(Product.id)">
                        <p class="card-text heavy-dark-txt card-txt-style">{{Product.name}}</p>
                        </a>

                        <hr>
                        <p class="font-14 mb-1">available</p>
                        <p class="near-black font-16">{{Product.price}}<sub>EGP</sub></p>
                    </div>
                </div>

                <div class="pro-overlay">
                    <a class="overlay-txt heavy-dark-txt curs-style" (click)="setProductId(Product.id)">View Details</a>
                </div>
            </div>

        </div>



    </div>

</div>
<!--product-prev modal-->


<!-- Modal 
<div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="quick-view-modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-style">
        <div class="modal-content modal-content-style">

            <div class="modal-body pt-4">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col-sm-6">
                     
                        <div id="carouselmodalcaption" class="carousel slide" data-ride="carousel">

                            <div class="carousel-inner">
                                <div class="carousel-item active" data-interval="1000000">
                                    <img src="image/main-banner.jpg" class="d-block w-100 img-responsive pro-review-img"
                                        alt="...">

                                </div>
                                <div class="carousel-item" data-interval="1000000">
                                    <img src="image/logo.jpg" class="d-block w-100  img-responsive pro-review-img"
                                        alt="...">

                                </div>
                                <div class="carousel-item" data-interval="1000000">
                                    <img src="image/main-banner.jpg" class="d-block w-100 img-responsive pro-review-img"
                                        alt="...">

                                </div>
                            </div>
                            <ol class="carousel-indicators carousel-indicators-style ">
                                <li data-target="#carouselmodalcaption" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselmodalcaption" data-slide-to="1"></li>
                                <li data-target="#carouselmodalcaption" data-slide-to="2"></li>
                            </ol>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="quick-view-txt-wrap">
                            <h3>product name</h3>
                            <span class="quick-view-price">350.00 egp</span>
                        </div>
                        <div class="form-group mt-5">
                            <label for="quantitynum">quantity</label>
                            <input type="number" class="form-control quantity-input-modal" id="quantitynum">
                        </div>
                        <button type="button" class="btn modal-btn mt-5 mb-3">add to cat</button>
                        <a href="product_detail.html" class="pro-det-a">view more details</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
-->
<!--//product-prev modal-->
<!--//product-->
<!--pagination row-->
<div class="row d-flex justify-content-center">

<pagination-controls class="my-3 text-center" id="listing_pagination" (pageChange)="pageChanged($event)" maxSize="3" directionLinks="true"
    autoHide="true" responsive="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
    screenReaderPageLabel="current_page" screenReaderCurrentLabel="You're on page">
</pagination-controls>

</div>
<!-- <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav> -->

<!--//pagination row-->