<app-second-nav></app-second-nav>
<div class="stand-block"></div>
<div class="row  justify-content-center">
    <div class="col-sm-4 text-center">
        <h5 class="text-capitalize heavy-dark-txt">successfully registered</h5>
        <hr class="mb-5">
    <p class=" near-black">You have been registerd successfully.</p>
    <p class="near-black">Start shopping Now <a routerLink="">Home</a>  </p>
    </div>
</div>