
@font-face {
    font-family:firstfont;
    src: url(./assets/font/Lato-Bold.ttf);
    
}
@font-face {
    font-family: secondfont;
    src: url(./assets/font/Lato-Bold.ttf);
    
}

/*loading effect*/

@keyframes loading { 
    100% { 
        transform: translateX(100%); 
    } 
} 

/*skeleton loading*/
.skel-bg{
    background: #f1f1f1;
    padding:35px;
    display: inline-block;
    text-align: center;
    border:1px solid #eaeaea;
    color: #333;


}
.skel-body{
    height:284px;
    width:100%;
  
  
    background-image: 
    linear-gradient(#f1f1f1,#f1f1f1);
    background-size: 100% 100%;
   padding:10px 20px;
    background-repeat: no-repeat;
}

.skel-bg-sq{
    height:100px;
    width:100%;
    background-color: 
    rgb(224, 224, 224);
    margin-top:10px;
    background-size: 150% 150%;
   
    background-repeat: no-repeat;

}
.skel-bg-sq-cat{
    height:190px;
    width:190px;
    margin-bottom:20px
}
.skel-banner{
    height:380px;
    width:100%;
    overflow: hidden;
    margin-top:0px;
   
}
.skel-body-banner{
    height:400px;
}
.skel-body-img-det{
    height:420px;
    width:420px;
}
.skel-img-det{
    height:380px;
    width:380px;
}
.skel-bg-title{
    height:35px;
    width:181px;
    background-color: 
    rgb(227, 227, 227);
    margin-top: 10px ;
    background-repeat: no-repeat;
}
.skel-bg-det{
    height:25px;
    width:181px;
    background-color: 
    rgb(227, 227, 227);
    margin-top: 10px ;
    background-repeat: no-repeat;
}
.skel-body::before { 
    display: block; 
    content: ""; 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    transform: translateX(-100%); 
    background: -webkit-gradient(linear, left top, 
                right top, from(transparent),  
                color-stop(rgba(255, 255, 255, 0.2)), 
                to(transparent)); 
                  
    background: linear-gradient(90deg, transparent, 
            rgba(255, 255, 255, 0.2), transparent); 

    /* Adding animation */
    animation: loading 0.8s infinite ; 
} 

    /*//skeleton loading*/
/*//loading effect*/
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
  body{
   
      letter-spacing: 1px;
      font-family: firstfont, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
    }
    a:hover{
        cursor: pointer;
    }
  /*
.ds-block{
    display:block;
}  */
.bg-intro-line{
 
    width:100%;
    height:5px;
}

.cat-img{
    width: 350px;
    height: 240px;
    max-height:300px;
    margin:0px auto
}
/*.cat-img:hover{
    opacity:.8;
    transition:0.1s ease-in-out
}*/
.card-style-cat{
   border:0px;
   
}
.stand-block{
    display:block;
    height:150px;
}
.card-no-border{
    border-width:0px;
}
.wrap-m{
    margin:3rem 0px;
}
.row{
    margin-left:0px;
    margin-right:0px;
}

.overlay-cont{
    position: relative;
    width: 100%;
}
.overlay-cont:hover .pro-overlay {
    height: 14%;
  }
  .pro-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(225,225,225,.4);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    
  }
  .overlay-txt{
    
      font-size: 14px;
      position: absolute;
      top: 50%;
      text-transform: capitalize;
      left: 50%;
      font-family: secondfont;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
  }
  .overlay-txt:hover{
      color: white;   
      text-decoration:none;
  }
 
  .pro-img{
  
    height:100px;
    width:auto;
    max-width:100%;
    max-height:255px;
    transition: 0.5s ease-in-out;
    padding-top:0.3rem
}
.card-txt-style{
    margin-bottom:0.3rem;
    height:44px;
    overflow:hidden;
}
.card-pro{
    margin-top:0.5rem;
    margin-bottom:0.5rem;
}
.card-pro:hover .pro-img{
    transform: scale(1.1);
}

.pro-title{
    text-transform:capitalize;
    text-align:center;
    font-size:36px;
    }
    .curs-style{
        cursor: pointer;
    }
    /*font weight*/
    .light-txt{
        font-weight:lighter
    }
    /*//font weight*/
    /*font size*/
    .small-font-view{
        font-size:16px;
    }
    .font-16{
        font-size:16px;
    }
    .font-14{
        font-size:14px;
    }
    .font-12{
        font-size:12px;
    }
    .font-19{
        FONT-SIZE:19PX;
    }
    /*//font size*/
    /*font color*/
   .gray-txt{
       color:#9ba4b4;
   }
  
   .light-txt{
       color:#f1f6f9;
   }
   .white-color{
       color: #ffffff;
   }
   .dark-gray-txt{
    color:#7d8a91!important;
}
   .heavy-dark-txt{
    color:#465258!important;
}
.near-black{
    color:#222 !important
}
    /*//font color*/
    /*bg color and borders*/
    /*adobe dark*/
    .bg-dark{
        background-color:#97A5AD!important;
    }

    /*//adobe dark*/
    .bg-light-style{
        background-color:#f1f6f9 !important ;
    }
    .bg-light-new{
       background-color: #b5c7d1!important ;
    }
    .btn-border{
       border:1px solid  #7d8a91;
       transition:0.3s all ease-in-out;
       color:#7d8a91;
       border-radius:0px;
    }
    .btn-border:hover{
        background-color: #7d8a91;
        color:#f1f6f9
    }
    .btn-main{
        /* background-color: #b5c7d1; */
        color:white;
        transition: all 0.3s ease-in-out;
        border-radius:0px;
    }
    .btn-main:hover{
       opacity: 0.7;
    }
  
    /*bg color*/
    /*font family*/
    .firstfont-txt{
     font-family: firstfont,sans-serif ;
    }
    .secondfont-txt{
        font-family: secondfont,sans-serif;
    }
    label{
        font-family: secondfont,sans-serif;
        color:#465258;
        text-transform: capitalize;
    }
    /*//font family*/
   
/*responsive*/
@media (max-width: 575.98px) { 
    .h-n-sm{
        display:none;
    }
    .h-n-lg{
        display:flex !important;
        justify-content: center;
    }
    
    .right-part-nav{
        position:absolute;
        top:38px;
        right:10px;
        display:-moz-inline-box;
        display:-webkit-inline-box;
    }
  
  
    .checkoutnav-brand-style{
        font-size:19px;
    }
     }