<app-second-nav></app-second-nav>
<div class="stand-block"></div>
<div class="row  justify-content-center">
    <div class="col-sm-4 text-center">
        <h5 class="text-capitalize heavy-dark-txt ">reset password</h5>
        <hr class="mb-5">
        <div class="near-black">
    <p >The mail has been sent successfully.</p>
    <p >Didn’t get the E-mail?</p>
    <p >Please check your spam folder before click 
        <a (click) = "ResendMailforResetPassword()" class="curs-style">Resend.</a><br>
        <span class="text-success">{{successMessage}}</span> 
    </p>
</div>
    </div>
</div>