<app-navbar></app-navbar>
<div class="stand-block"></div>
<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                aria-controls="v-pills-messages" aria-selected="false">
                <div class="card card-style-myaccount mx-auto">
                    <img class="card-img-top rounded-style mx-auto" src="assets/image/avatar.png" alt="Card  image cap">
                    <div class="card-body">
                        <p class="card-text">{{ user.name }}</p>
                    </div>
                </div>
            </a>
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                aria-controls="v-pills-home" aria-selected="true">my order</a>
            <!--<a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                aria-controls="v-pills-profile" aria-selected="false">my address</a>-->

            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
                aria-controls="v-pills-settings" aria-selected="false">my account</a>
        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="container">
                    <h2>{{user.name}} Orders</h2>           
                    <table class="table table-striped">
                      <thead>
                        <tr>
                            <th>User</th>
                            <th>Subtotal Price</th>
                            <th>Delivery Fees</th>
                            <th>Promo Code</th>
                            <th>Total Price</th>
                            <th>Order Code</th>
                            <th>Order Time</th>
                            <th>Order Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let order of orders">
                            <td>{{ user.email }}</td>
                            <td>{{ order['subtotal_price'] | currency: 'EGP' }}</td>
                            <td>{{ order['delivery_fees'] | currency: 'EGP'}}</td>
                            <td>{{ order['promocode_id'] }}</td>
                            <td>{{ order['total_price'] | currency: 'EGP'}}</td>
                            <td>{{ order['order_code'] }}</td>
                            <td>{{ order['created_at'] | date }}</td>
                            <td>{{ order['order_status'] }}</td>
                        </tr>
                      </tbody>
                    </table>
                </div>    
            </div>
            <!--my address-->
            <!--     <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
               
                <form>
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="form-group">
                                <label for="accountaddressone" class="col-sm-6 col-form-label">address 1</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="accountaddressone">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">

                            <div class="form-group">
                                <label for="accountaddresstwo" class="col-sm-6 col-form-label">address 2</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="accountaddresstwo">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row justify-content-center mt-5">
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-main">Update Info</button>
                        </div>
                    </div>
                </form>
           
            </div>-->
            <!--//my address-->
            <!--my account-->
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <form (ngSubmit)= "updateUserInfo()" #userInfoForm="ngForm">
                    <!-- <div class="form-group ">
                        <label for="displayonly" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="displayonly"
                                value="email@example.com">
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label for="accountfirstname" class="col-sm-6 col-form-label">name</label>
                                <div class="col-sm-10">
                                    <input type="text" name="name" class="form-control" id="accountfirstname" 
                                        [(ngModel)]="userInfo.name" required>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">

                            <div class="form-group">
                                <label for="accountlastname" class="col-sm-6 col-form-label" >email</label>
                                <div class="col-sm-10">
                                    <input type="text" name="email" class="form-control" 
                                        id="accountlastname" [value]="user.email" disabled>
                                </div>
                            </div>
                        </div>

                      <!--  <div class="col-sm-6">

                            <div class="form-group">
                                <label for="accountemail" class="col-sm-6 col-form-label">contact email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="accountemail">
                                </div>
                            </div>
                        </div>-->

                        <div class="col-sm-6">

                            <div class="form-group">
                                <label for="accountphonenumber" class="col-sm-6 col-form-label">phone number</label>
                                <div class="col-sm-10">
                                    <input type="tel" class="form-control" id="accountphonenumber" 
                                        name="phone" [(ngModel)]="userInfo.phone" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="accountaddressone" class="col-sm-6 col-form-label">City</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="accountaddressone" 
                                        name="city" [(ngModel)]="userInfo.city" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="accountaddressone" class="col-sm-6 col-form-label">address</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="accountaddressone" 
                                        name="address" [(ngModel)]="userInfo.address">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center my-5">
                        <div class="col-sm-4">
                            <button [disabled]="!userInfoForm.form.valid" type="submit" class="btn btn-main" 
                                [ngStyle]="{'background-color': BrendSetting.theme_colour.sub_colour}">
                                Update Info
                            </button>
                            <ngx-spinner name="UpdateSpinner"></ngx-spinner>
                        </div>
                    </div>
                </form>
            </div>
            <!--//my account-->
        </div>
    </div>
</div>
<div class="stand-block"></div>
<app-footer></app-footer>