.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color:transparent;
    color:#222 ;
}
a {
    color:#465258;
    text-transform: capitalize;
    text-align: center;
}
.card-style-myaccount{
    width:75%;
}
.rounded-style{
    border-radius:50%;
    width:45%;
    padding:20px 0px
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}